{%
  set classes = [
  'layout',
  'layout--accordions',
  'container',
]
%}
{% if content %}
  {% set region = 'accordions' %}
  {% set blocks = content[region]|sortbyweight %}
  {# Our custom structure breaks layout builder, so omit #}
  {% if content.accordions.layout_builder_add_block is not defined %}
    <div{{ attributes.addClass(classes) }}>
      <div {{ region_attributes.accordions.addClass('layout__region', 'layout__region--accordions', 'accordions-region') }}>
        <!-- Nav tabs -->
        <div class="accordion accordion__wrapper" id="accordionPanelsStayOpenExample">
          {% for block_id, block_data in blocks %}
            {% if content[region][block_id] %}
              {% set block_label = content[region][block_id]['content']['#title']['#markup'] %}
              {% if block_label is empty %}
                {% set block_label = content[region][block_id]['#configuration']['label'] %}
              {% endif %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-heading-{{ block_id }}">
                  <button class="accordion-button {{ content['#settings']['check_always_open'] ?: "collapsed" }} " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-{{ block_id }}" aria-expanded="{{ content['#settings']['check_always_open'] ? "true" }}" aria-controls="panelsStayOpen-collapse-{{ block_id }}">
                    {{ block_label }}
                  </button>
                </h2>
                  <div id="panelsStayOpen-collapse-{{ block_id }}" class="accordion-collapse collapse {{ content['#settings']['check_always_open'] ? "show" }}" aria-labelledby="panelsStayOpen-heading-{{ block_id }}" {{ content['#settings']['independent_accordion'] ?: "data-bs-parent='#accordionPanelsStayOpenExample'" }}">
                    <div class="accordion-body" >
                      {{ content[region][block_id] }}
                    </div>
                  </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    {%
      set classes = [
      'layout',
      'layout--onecol',
    ]
    %}
    <div{{ attributes.addClass(classes) }}>
      <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
        {{ content.accordions }}
      </div>
    </div>
  {% endif %}
{% endif %}
