{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% macro accordion_section(content,region,blocks) %}

  {%
    set classes = [
    'layout',
    'layout--accordions',
  ]
  %}
  {# Our custom structure breaks layout builder, so omit #}
  {% set accordion_id = 'accordionPanelsStayOpenExample' ~  region  %}

  <div{{ attributes.addClass(classes) }}>
    <div {{ region_attributes.accordions.addClass('layout__region', 'layout__region--accordions', 'accordions-region') }}>
      <!-- Nav tabs -->
      <div class="accordion accordion__wrapper" id="{{ accordion_id }}">
        {% for block_id, block_data in blocks %}
          {% if content[region][block_id] %}
            {% set block_label = content[region][block_id]['content']['#title']['#markup'] %}
            {% if block_label is empty %}
              {% set block_label = content[region][block_id]['#configuration']['label'] %}
            {% endif %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-heading-{{ block_id }} {{ loop.first ? 'is-active' }}">
                <button class="accordion-button {{ content['#settings']['check_always_open'] ?: 'collapsed' }} " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-{{ block_id }}" aria-expanded="{{ content['#settings']['check_always_open'] ? 'true' }}" aria-controls="panelsStayOpen-collapse-{{ block_id }}">
                  {{ block_label }}
                </button>
              </h2>
              <div id="panelsStayOpen-collapse-{{ block_id }}" class="accordion-collapse collapse {{ content['#settings']['check_always_open'] ? "show" }}" aria-labelledby="panelsStayOpen-heading-{{ block_id }}" {{ content['#settings']['independent_accordion'] ?: "data-bs-parent=#" ~ accordion_id }} >
                <div class="accordion-body" >
                  {{ content[region][block_id] }}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}
{% if content %}
  <div{{ attributes }}>
    {% if content.first %}
      <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
        {% if content.first.layout_builder_add_block is not defined %}
          {% if content['#settings']['accordion_location'] == 'first_region' or
            content['#settings']['accordion_location'] == 'both_regions'
          %}
            {% set region = 'first' %}
            {% set blocks = content[region]|sortbyweight %}
            {{ _self.accordion_section(content,region,blocks) }}
          {% else %}
            {{ content.first }}
          {% endif %}
        {% else %}
          {{ content.first }}
        {% endif %}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
        {% if content.second.layout_builder_add_block is not defined %}
          {% if content['#settings']['accordion_location'] == 'second_region' or
              content['#settings']['accordion_location'] == 'both_regions'
          %}
            {% set region = 'second' %}
            {% set blocks = content[region]|sortbyweight %}
            {{ _self.accordion_section(content,region,blocks) }}
          {% else %}
              {{ content.second }}
          {% endif %}
        {% else %}
          {{ content.second }}
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}
